// vars to control responsive font sizes
$min_font_size: 14;
$max_font_size: 20;
$min_viewport_width: 360;
$max_viewport_width: 1920;

body {
  font-size: calc(#{($min_font_size)}px + #{($max_font_size - $min_font_size)} * ((100vw - #{$min_viewport_width}px) / (#{($max_viewport_width - $min_viewport_width)})));
}

p {
  margin: 2em 0;
  line-height: 1.5em;
}

h1 {
  font-family: 'Futura LT Condensed';
  text-transform: uppercase;
  font-size: 3.5em;
  line-height: 1em;
  padding: 2em 0;
  font-weight: bold;
  color: white;

  @media (min-width: 576px) {
    font-size: 4.25em;
  }

  @media (min-width: 768px) {
    font-size: 6em;
    padding: 1.33em 0;
  }
}

h2 {
  font-size: 2.25em;
  font-weight: bold;
  font-family: 'Futura LT Condensed', serif;
  text-transform: uppercase;
}

img {
  height: auto;
  max-width: 100%;
}

ul,
li {
  list-style: none;
  padding: 0.3em 0;
}

.hero {
  background-color: #231f20;
  background-image: url(../images/hero.png);
  background-repeat: no-repeat;
  background-position: 5em;
  background-size: cover;
  color: white;
  
  .bruise {
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-duration: 4s; 
    position: absolute;
  }
  .bruise--1 {
    -webkit-animation-name: bruises;  
    animation-name: bruise--1;
    top: 25em; right: 28em; height: 130px;    
  }
  .bruise--2 {
    -webkit-animation-name: bruises;
    animation-name: bruise--2;
    top: 13em; right: 26em; height: 160px;
  }  

  @media (min-width: 576px) {
    background-position: calc(10em + 30%);
  }

  @media (min-width: 768px) {
    background-position: calc(15em + 40%);
  }

  @media (min-width: 1200px) {
    background-position: right;
    background-size: contain;
  }

  @media (min-width: 1920px) {
    background-position: 75%;
    background-size: contain;
  }
}


@keyframes bruise--1 {
  0%   {opacity: 0;}
  25%  {opacity: 0;}
  50%  {opacity: 1;}
}

@keyframes bruise--2 {
  0%   {opacity: 0;}
  75%  {opacity: 0;}
  100% {opacity: 1;}
}
  

.intro {
  background-image: url(../images/doodles.png);
  background-size: 50%;
  background-position: center;
  padding: 0;

  p {
    line-height: 2em;
  }

  img {
    display: block;
    margin: 0 auto 2em;
    width: 100%;
    max-width: 300px;

    @media (min-width: 992px) {
      margin: 2.5em auto 0;
    }
  }

  @media (min-width: 768px) {
    padding: 2em 0;
  }

  @media (min-width: 1200px) {
    padding: 3em 0;
  }
}

.quotation {
  background: #252525;
  background-image: url(../images/boy-upset.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  color: white;
  font-family: 'Courier New';
  font-weight: bold;

  p {
    font-size: 1.5em;
  }
}

.mask {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 4em 0;
}

.cta {
  background: #252525;
  background-image: url(../images/doodles.png);
  background-size: 50%;
  background-position: top;
  border-top: 1px solid #888;
  border-bottom: 1px solid #ddd;
  color: white;
  padding: 4em 0 3em 0;
  text-align: center;

  @media (min-width: 992px) {
    text-align: left;
  }

  h2.pink {
    background: linear-gradient(to right, #ff0066, #ff00c6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h2.green {
    background: linear-gradient(to right, #6cb202, #00bafe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 1.5em;

    @media (min-width: 768px) {
      margin-top: 0;
    }
  }
}

.social {
  padding: 4em 0;
  width: 100%;
  background-color: #00a296;
  color: white;
  text-align: center;

  img {
    display: block;
    width: 100%;
    max-width: 4em;
    min-width: 3em;
    
    svg {
      fill: white;
    }
  }
}

.footer {
  margin-bottom: 0;
  width: 100%;
  padding: 1em 0;
  text-align: center;
}