// font declarations
@import url("https://fonts.googleapis.com/css?family=Calligraffitti|Open Sans&display=swap");

@font-face {
font-family:"futura-pt-condensed";
src:url("https://use.typekit.net/af/6f8764/000000000000000000012039/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/6f8764/000000000000000000012039/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/6f8764/000000000000000000012039/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"futura-pt-condensed";
src:url("https://use.typekit.net/af/64e0cf/00000000000000000001203d/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/64e0cf/00000000000000000001203d/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/64e0cf/00000000000000000001203d/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

// import minimum Bootstrap styles
@import "css/bootstrap-reboot.min";
@import "css/bootstrap-grid.min";

// vars
$brand-primary: #231f20;
$link-color: #00756d;

// vars to control responsive font sizes
$mobile_font_size: 16;
$desktop_font_size: 20;
$min_viewport_width: 360;
$max_viewport_width: 1920;

body {
  font-family: 'Open Sans', sans-serif;
  font-size: calc(#{($mobile_font_size)}px + #{($desktop_font_size - $mobile_font_size)} * ((100vw - #{$min_viewport_width}px) / (#{($max_viewport_width - $min_viewport_width)})));
  overflow-x: hidden;
    transition: all 500ms;
}

// prefetch large background images for smooth animation
body:after {
  color: $brand-primary;
  overflow: hidden;
  display: block;
  height: 0;
  width: 0;
//  content: url('../images/hero-girl-1.jpg') 
//           url('../images/hero-girl-2.jpg') 
//           url('../images/hero-girl-3.jpg') 
//           url('../images/hero-girl-4.jpg');
}

p {
  margin: .25em 0 1.25em;
  line-height: 1.67em;
}

a { 
  color: white;
  border-bottom: 1px solid white;
  transition: all 200ms;

  &:hover { 
    color: white;
    text-decoration: none;
    transition: all 200ms;
    padding-bottom: 3px;
  }
}

h1, h2, h3, h4 {
  font-family: "futura-pt-condensed",sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  font-size: 3.5em;
  line-height: 0.85em;
  padding: 2em 0;
  color: white;

  @media (min-width: 576px) {
    font-size: 4.25em;
  }

  @media (min-width: 768px) {
    font-size: 6.5em;
    padding: 1em 0;
  }
}

h2 {
  font-size: 2.2em;
  line-height: 1.1em;
}

h3, h4 {
  font-size: 1.5em;
  margin-bottom: 0;
  margin-top: 1.5em;
}

img {
  height: auto;
  max-width: 100%;
}

ul,
li {
  list-style: none;
  padding: 0.3em 0;
}

.delay-animations .hero,
.delay-animations .likes
{
  animation-name: none !important;  //delay animations in hero banner until all the bg images have loaded
}

.hero {
  background-color: $brand-primary;
  //background-image: url(../images/hero-girl-1.jpg);
  background-repeat: no-repeat;
  background-position: 5em;
  background-size: cover;
  color: white;
  position: relative;

  //animation-name: hero-animate;
  animation-duration: 12s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  animation-timing-function: linear;

  .likes {
    position: absolute;
    right: 9999px; //hide on mobile
    bottom: 20px;
    opacity: 0;
    font-size: 1.25em; 
    font-weight: bold; 
    font-family: 'Courier New', sans-serif; 
    text-shadow: 1px 1px 1px #333;

    animation-name: likes;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    animation-timing-function: linear;

    &__number {
      color: white;
      font-weight: bold; 
      font-size: 2em; 
      font-family: 'Futura LT Condensed';
      padding-top: 1em;
    }

    @media (min-width: 576px) {
      display: block;
      right: 12%;
    }
  }

  .likes--1 { animation-delay: 2s; }
  .likes--2 { animation-delay: 6s; }
  .likes--3 { animation-delay: 10s; }


  @media (min-width: 576px) {
    background-position: calc(12em + 20%);
  }

  @media (min-width: 768px) {
    background-position: 16em;
  }

  @media (min-width: 1200px) {
    background-position: 90%;
    background-size: contain;
  }

  @media (min-width: 2000px) {
    background-position: 75%;
  }
}

// HERO GIRL IMG IN FRONT
.hero {
  height: 28em;
  position: relative;

  h1 {
    padding: 1.5em 0;
    position: absolute;
    z-index: 10;

    @media (min-width: 576px) {
      padding: 1.5em 0;
    }
  }

  .hero-girl {
    animation-name: hero-girl;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;

    position: absolute;
    top: 0;
    right: calc(-12em + 10%);
    object-fit: cover;
    height: 100%;   

    @media (min-width: 576px) { right: calc(-20em + 25%); }

    @media (min-width: 768px) { right: calc(-30em + 25%); }

    @media (min-width: 992px) { right: calc(-25em + 25%); }

    @media (min-width: 1200px) { right: calc(-20em + 25%); }
  }

  .hero-girl--1 { animation-delay: 2s; }
  .hero-girl--2 { animation-delay: 6s; }
  .hero-girl--3 { animation-delay: 10s; }
  .hero-girl--4 { animation-name: none; }  

  @media (min-width: 576px) { height: 30em; }

  @media (min-width: 768px) { height: 42em; }
}

.intro {
  background-image: url('https://res.cloudinary.com/doewa/image/upload/v1565161788/public-websites/no-voice-to-violence/doodles.png');
  background-size: 50%;
  background-position: center;
  padding: 2em 0;

  img {
    display: block;
    margin: 0 auto 2em;
    width: 100%;
    max-width: 200px;
    opacity: 0;

    @media (min-width: 992px) {
      margin: 3em auto 0;
    }
  }

  .mobile-fight {
    cursor: hand;
    cursor: pointer;
  }

  .logo {
    position: absolute;
    right: -999px;
    transform: rotate(20deg);
    left: -50%;
    right: -50%;
    width: auto;
    max-width: 280px;
  }

  .logo-visible {
    top: 14%;
    right: -50%;
    opacity: 1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    //cursor: url(https://ssl.gstatic.com/ui/v1/icons/mail/images/2/closedhand.cur), default !important;  // fist cursor   
    //cursor: not-allowed;

    @media (min-width: 992px) {
      top: 7%;
    }
  }
}


.quotation {
  background: $brand-primary;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 70%;
  background-attachment: fixed;
  height: 26em;
  
  //for carousel bg
  position: relative;
  overflow: hidden;

  p {
    font-family: 'Calligraffitti', cursive;
    font-size: 1.75em;
    text-align: center;
    color: white;
    letter-spacing: 2px;
  }


  // SLIDESHOW
  $num_slides: 6;

 .slideshow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;

    li {
      span {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: none;
        opacity: 0;
        z-index: 0;
        animation: imageAnimation 48s linear infinite 0s;
        //filter: grayscale(100%);
      }

      div {
        z-index: 1000;
        position: absolute;
        top: 0;
        bottom: 30px;
        left: 0px;
        width: 100%;
        text-align: center;
        opacity: 0;
        animation: titleAnimation 48s linear infinite 0s;
        display: table;
        height: 100%;
  
        p {
          font-family: 'Calligraffitti', 'Arial Narrow', Arial, sans-serif;
          font-size: 1.5em;
          padding: 0 2em;
          color: rgba(255, 255, 255, 0.8);
          width: 100%;
          height: 100%;
          display: table-cell;
          vertical-align: middle;
          text-shadow: 0px 3px 2px #000;
          
          i {
            font-size: 2em;
            position: relative;
            top: 16px;
            left: -10px;
            
            @media (min-width: 560px) {
              top: 24px;
              left: -16px;              
            }            
          }
          
    
      //    &:after {
      //      content: '\“';
      //      color: white;
      //      font-family: 'Calligraffitti', cursive;
      //      font-size: 7.5em;
      //      position: relative;
      //      display: block;
      //      margin: 0 auto;
      //      position: relative;  
      //      top: -0.45em;
      //      opacity: 0.8;
      //      
      //      @media (min-width: 768px) {
      //        top: -0.225em;
      //      }   
      //    }          
          
          @media (min-width: 560px) {
            font-size: 2em;
          }

          @media (min-width: 992px) {
            font-size: 2.5em;
          }         
        }
      }
    }

     &:after {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      z-index: 0;
      content: '';
      background: rgba(0, 0, 0, 0.6);
     }
  }
}

.slideshow li:nth-child(1) span {
  background-image: url('https://res.cloudinary.com/doewa/image/upload/t_grayscale/v1565161809/public-websites/no-voice-to-violence/1.jpg');
  background-position: 50% 30%;
}

.slideshow li:nth-child(2) span {
  background-image: url('https://res.cloudinary.com/doewa/image/upload/t_grayscale/v1565161808/public-websites/no-voice-to-violence/2.jpg');
  animation-delay: 8s;
}

.slideshow li:nth-child(3) span {
  background-image: url('https://res.cloudinary.com/doewa/image/upload/t_grayscale/v1565161834/public-websites/no-voice-to-violence/3.jpg');
  animation-delay: 16s;
}

.slideshow li:nth-child(4) span {
  background-image: url('https://res.cloudinary.com/doewa/image/upload/t_grayscale/v1565161791/public-websites/no-voice-to-violence/anxiety-girl.png');
  animation-delay: 24s;
}

.slideshow li:nth-child(5) span {
  background-image: url('https://res.cloudinary.com/doewa/image/upload/t_grayscale/v1565161786/public-websites/no-voice-to-violence/5.jpg');
  animation-delay: 32s;
}

.slideshow li:nth-child(6) span {
  background-image: url('https://res.cloudinary.com/doewa/image/upload/t_grayscale/v1565161773/public-websites/no-voice-to-violence/6.jpg');
  animation-delay: 40s;
}

.slideshow li:nth-child(2) div {
  animation-delay: 8s;
}

.slideshow li:nth-child(3) div {
  animation-delay: 16s;
}

.slideshow li:nth-child(4) div {
  animation-delay: 24s;
}

.slideshow li:nth-child(5) div {
  animation-delay: 32s;
}

.slideshow li:nth-child(6) div {
  animation-delay: 40s;
}

.cta {
  background: $brand-primary;
  background-image: url('https://res.cloudinary.com/doewa/image/upload/v1565161788/public-websites/no-voice-to-violence/doodles.png');
  background-size: 50%;
  background-position: top;
  border-top: 1px solid #888;
  border-bottom: 1px solid #ddd;
  color: white;
  padding: 4em 0 3em 0;
  text-align: center;
  animation: hue 40s infinite linear;

  @media (min-width: 992px) {
    text-align: left;
  }

  h2.reasons {
    background: linear-gradient(135deg, #f35626 0%, #feab3a 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h2.dealing {
    background: linear-gradient(135deg, #feab3a 0%, #edd448 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    //margin-top: 1.5em;
//
//    @media (min-width: 768px) {
//      margin-top: 0;
//    }
  }
}

.contact {
  padding: 4em 0;
  width: 100%;
  background-color: #00756D;
  background-image: url('../images/message.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-blend-mode: screen;
  color: white;
  
  h2 { margin-bottom: .5em; }
  h3 { margin-bottom: 1em; }
  
  p { 
    line-height: 2em;
    margin-bottom: 1em;
  }

  img {
    display: inline;
    width: 30px;
    margin-right: 10px;

    @media (min-width: 768px) {
      display: block;
      float: left;
    }
  }

  &__details {

    @media (min-width: 768px) {
      text-align: left;
    }
  }
  
  @media (min-width: 768px) {
    text-align: center;
  }  
  
}

.more-info { 
  padding: 3em 0;

  h3 { cursor: pointer; }
  
  input,
  textarea {
    width: 100%;
    float: left;
    height: 3em;
    margin: 0.5em 0em;
    padding-left: 1em;
  }
  
  textarea {
    height: 10em;
    padding-top: 1em;
    margin-bottom: 1em;
  }
  
  button {
    background: $brand-primary;
    color: white;
    border: 2px solid $brand-primary;
    padding: 1em 2em;  
    width: 100%;
    transition: all 250ms;
    
    &:hover {
      background: white;
      color: $brand-primary;
    }
    
  }

  &__content {
    border-top: 1px solid #333; 
    border-bottom: 1px solid #333; 
    padding-bottom: 2em;
    
    img { 
      width: 0.825em; 
      max-width: 1em; 
    }
  }

  .cross {
    transition: all 0.2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: rotateCross;    
  }
}

footer {
  margin-bottom: 0;
  width: 100%;
  padding: 1em 0;
  text-align: center;
  background: $brand-primary;
  color: white;
  
  a {
    border-bottom: none;
    margin: 0 0.5em;
    cursor: pointer;
    
    &:hover {
      position: relative;
      top: -2px;
    }
  }

  .doe-logo {
    float: left; 
    height: 50px; 
    padding: 4px 0;
  }

  .disclaimer {
    padding: 10px 12px 0;
  }
}


// ********************************
//        Animations
// ********************************

// HERO BANNER IMAGE ANIMATION
@keyframes hero-animate {
//  33% { background-image: url(../images/hero-girl-2.jpg) };
//  67% { background-image: url(../images/hero-girl-3.jpg) };
//  100% { background-image: url(../images/hero-girl-4.jpg) };
  33% { background-image: url(https://res.cloudinary.com/doewa/image/upload/v1566976527/public-websites/no-voice-to-violence/Male_2.jpg ) };
  67% { background-image: url(https://res.cloudinary.com/doewa/image/upload/v1566976529/public-websites/no-voice-to-violence/Male_3.jpg) };
  100% { background-image: url(https://res.cloudinary.com/doewa/image/upload/v1566976530/public-websites/no-voice-to-violence/Male_4.jpg) };  
}

@keyframes hero-girl {
  0%{ opacity: 1; };
  50% { opacity: 0.5; }
  100% { opacity: 0; };
}


// ROTATE + TO x ON CLICK
@keyframes rotateCross {
  0% { transform: rotate(0) };
  100% { transform: rotate(45deg) };
}

// HERO BANNER LIKES FLOATING UPWARD
@keyframes likes {
  0% {
    opacity: 0;
    bottom: 20px;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    bottom: 260px;
  }
}


// TEXT CHANGING HUE
@keyframes hue {
  from { filter: hue-rotate(0deg); }
  to { filter: hue-rotate(-360deg); }
}


// IMAGE CAROUSEL
 @keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }

  8% {
    opacity: 1;
    transform: scale(1.05);
    animation-timing-function: ease-out;
  }

  17% {
    opacity: 1;
    transform: scale(1.1);
  }

  22% {
    opacity: 0;
    transform: scale(1.1) translateY(-10%);
  }

  25% {
    opacity: 0;
    -transform: scale(1.1) translateY(-40%);
  }

  100% {
    opacity: 0
  }
}

// TEXT IN IMAGE CAROUSEL
@keyframes titleAnimation {
  0% { opacity: 0; }
  8% { opacity: 1; }
  19% { opacity: 0; }
  25% { opacity: 0 }
  100% { opacity: 0 }
} 
  
  

// TADA
@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}


// BOUNCEIN
@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes logoVisible {
  0% { transform: rotate(-10deg); }
  50% { transform: rotate(10deg); }
  100% { transform: rotate(-10deg); }
}
