body {
  font-family: 'Open sans', sans-serif;
  font-size: calc(15px + 4 * ((100vw - 360px) / (1560)));
  overflow-x: hidden; }

body:after {
  overflow: hidden;
  display: block;
  height: 0;
  width: 0;
  content: url("../images/hero-girl-1.jpg") url("../images/hero-girl-2.jpg") url("../images/hero-girl-3.jpg") url("../images/hero-girl-4.jpg"); }

p {
  margin: 2em 0;
  line-height: 1.5em; }

h1 {
  font-family: 'Futura LT Condensed';
  text-transform: uppercase;
  font-size: 3.5em;
  line-height: 1em;
  padding: 2em 0;
  font-weight: bold;
  color: white; }
  @media (min-width: 576px) {
    h1 {
      font-size: 4.25em; } }
  @media (min-width: 768px) {
    h1 {
      font-size: 6em;
      padding: 1em 0; } }

h2 {
  font-size: 2.2em;
  font-weight: bold;
  font-family: 'Futura LT Condensed', serif;
  text-transform: uppercase; }

img {
  height: auto;
  max-width: 100%; }

ul,
li {
  list-style: none;
  padding: 0.3em 0; }

.hero {
  background-color: #231f20;
  background-image: url(../images/hero-girl-1.jpg);
  background-repeat: no-repeat;
  background-position: 5em;
  background-size: cover;
  color: white;
  position: relative;
  animation-name: hero-animate;
  animation-duration: 12s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  animation-timing-function: linear; }
  .hero .likes {
    position: absolute;
    right: 9999px;
    bottom: 20px;
    opacity: 0;
    font-size: 1.25em;
    font-weight: bold;
    font-family: 'Courier New', sans-serif;
    text-shadow: 1px 1px 1px #333;
    animation-name: likes;
    animation-duration: 2.9s;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    animation-timing-function: linear; }
    .hero .likes__number {
      color: white;
      font-weight: bold;
      font-size: 2em;
      font-family: 'Futura LT Condensed';
      padding-top: 1em; }
    @media (min-width: 576px) {
      .hero .likes {
        display: block;
        right: 12%; } }
  .hero .likes--1 {
    animation-delay: 2s; }
  .hero .likes--2 {
    animation-delay: 6s; }
  .hero .likes--3 {
    animation-delay: 10s; }
  @media (min-width: 576px) {
    .hero {
      background-position: calc(10em + 30%); } }
  @media (min-width: 768px) {
    .hero {
      background-position: calc(15em + 40%); } }
  @media (min-width: 1200px) {
    .hero {
      background-position: 90%;
      background-size: contain; } }
  @media (min-width: 2000px) {
    .hero {
      background-position: 75%; } }

.intro {
  background-image: url(../images/doodles.png);
  background-size: 50%;
  background-position: center;
  padding: 0; }
  .intro p {
    line-height: 2em; }
  .intro img {
    display: block;
    margin: 0 auto 2em;
    width: 100%;
    max-width: 200px;
    opacity: 0; }
    @media (min-width: 992px) {
      .intro img {
        margin: 2.5em auto 0; } }
  .intro .mobile-fight {
    cursor: hand;
    cursor: pointer; }
  .intro .logo {
    position: absolute;
    right: -999px;
    transform: rotate(20deg);
    left: -50%;
    right: -50%;
    width: auto;
    max-width: 280px; }
  .intro .logo-visible {
    top: 14%;
    right: -50%;
    opacity: 1;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite; }
    @media (min-width: 992px) {
      .intro .logo-visible {
        top: 7%; } }
  @media (min-width: 768px) {
    .intro {
      padding: 2em 0; } }
  @media (min-width: 1200px) {
    .intro {
      padding: 3em 0; } }

.quotation {
  background: #252525;
  background-image: url(../images/girl-upset.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  color: white;
  font-family: 'Courier New';
  font-weight: bold; }
  .quotation p {
    font-size: 1.5em; }

.mask {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  padding: 4em 0; }

.cta {
  background: #252525;
  background-image: url(../images/doodles.png);
  background-size: 50%;
  background-position: top;
  border-top: 1px solid #888;
  border-bottom: 1px solid #ddd;
  color: white;
  padding: 4em 0 3em 0;
  text-align: center;
  animation: hue 40s infinite linear; }
  @media (min-width: 992px) {
    .cta {
      text-align: left; } }
  .cta h2.reasons {
    background: linear-gradient(92deg, #f35626 0%, #feab3a 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .cta h2.dealing {
    background: linear-gradient(92deg, #feab3a 0%, #edd448 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 1.5em; }
    @media (min-width: 768px) {
      .cta h2.dealing {
        margin-top: 0; } }

.social {
  padding: 4em 0;
  width: 100%;
  background-color: #00a296;
  color: white;
  text-align: center; }
  .social img {
    display: block;
    width: 100%;
    max-width: 4em;
    min-width: 3em; }
    .social img:hover {
      animation-name: tada;
      animation-duration: 1s; }
    .social img svg {
      fill: white; }
  .social .social-link {
    cursor: pointer; }

.footer {
  margin-bottom: 0;
  width: 100%;
  padding: 1em 0;
  text-align: center; }

@keyframes hero-animate {
  33% {
    background-image: url(../images/hero-girl-2.jpg); }
  67% {
    background-image: url(../images/hero-girl-3.jpg); }
  100% {
    background-image: url(../images/hero-girl-4.jpg); } }

@keyframes likes {
  0% {
    opacity: 0;
    bottom: 20px; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    bottom: 260px; } }

@keyframes hue {
  from {
    filter: hue-rotate(0deg); }
  to {
    filter: hue-rotate(-360deg); } }

@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97); }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

.bounceIn {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

@keyframes logoVisible {
  0% {
    transform: rotate(-10deg); }
  50% {
    transform: rotate(10deg); }
  100% {
    transform: rotate(-10deg); } }
